*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background-color: white;
}
h2{
    font-size: 5rem;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
li a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-left: 5rem;
}
.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(6);
}
.first-page{
    height: 100vh;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.contact-us{
    height: 50vh;
    background-color: rgb(21, 21, 21);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}
.home{
    height: 100vh;
}
.first-page img {
    height: 100%;
}
.first-page .intro p{
    padding: 0 2rem;
}
.first-page .intro h2{
    padding: 0 2rem;
}
.square{
    width: 10rem;
    height: 10rem;
    background-color: #3c8cf6;
    position: absolute;
    top: 70%;
    left: 70%;
}